.offerformproduct {
  max-height: 500px;
  overflow: auto;
}

.offerformproduct label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.offerformproduct label svg {
  font-size: 20px;
  cursor: pointer;
  color: #068c45;
}

.possibilities {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  flex-wrap: wrap;
  row-gap: 10px;
}

.possibilities div {
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
}

.possibilities div h4 {
  text-align: center;
}

.possibilities div p {
  text-align: center;
  margin-top: 5px;
}

.offerformproduct div {
  width: 100%;
}

.possibilities .possibility {
  width: 300px !important;
  background-color: red !important;
}

:where(.css-dev-only-do-not-override-byeoj0).ant-switch {
  max-width: 10px !important;
}

.confstop {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 20px;
  border-radius: 10px;
}

.confstop .actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.MuiPickersPopper-root.css-1anqmj6-MuiPopper-root-MuiPickersPopper-root.MuiPopper-root {
  left: 0 !important;
  z-index: 125563552112 !important;
  /* transform: translate3d(10px, 02px, 0px) !important; */
  top: -1 !important;
}
.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root{
  padding: 20px !important;
}
button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-edgeEnd.MuiIconButton-sizeMedium.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root,
.MuiInputAdornment-root.MuiInputAdornment-positionEnd.MuiInputAdornment-outlined.MuiInputAdornment-sizeMedium.css-1laqsz7-MuiInputAdornment-root {
  width: 50px !important;
  margin: 0 !important;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
  margin: 0 !important;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.Mui-focused.MuiInputBase-formControl.MuiInputBase-adornedEnd.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root{
  display: flex;
  justify-content: center;
  align-items: center;
}